<h1>FavoriteImages#index</h1>
<p>Find me in app/views/favorite_images/index.html.erb</p>
<%= form_tag '/index' do %>
  search: <%= text_field_tag :search_name %>
  <%= submit_tag "Search" %>
<% end %>